* {
  box-sizing: border-box;
}

body,
html {
  margin: 0 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
}

.charts{
  height: 100%;
  font-size: 0;
}

.chart {
  width: 100%;
  height: 100%;
  user-select: none;
  display: inline-block;
  canvas {
    height: 100%;
    width: 100%;
  }
  div {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 20px;
    color: #fff;
  }
}