* {
  box-sizing: border-box;
}

body,
html {
  margin: 0 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
}

.charts {
  height: 100%;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}

.chart {
  flex: 0 0 50%;
  height: 50%;
  user-select: none;
  canvas {
    height: 100%;
    width: 100%;
  }
}
